include setup.py fi2pxd.py lcms2pxd.py
include CHANGES.txt INSTALL.txt README.txt TODO.txt
include license-fi.txt license-gpl.txt LICENSE.txt
include MANIFEST.in Makefile
include setup.py setup.cfg build.bat
recursive-include smc/freeimage *.py
recursive-include smc/freeimage *.pyx *.pxd *.pxi *.h *.c
include smc/freeimage/tests/testdata/README.txt
recursive-include smc/freeimage/tests/testdata README.txt
recursive-include docs *.rst *.txt *.html *.css *.csv Makefile
include docs/*.py docs/make.bat
include static/README.txt
include windows/README.txt
include windows/x86/version.txt
include windows/x86_64/version.txt

#recursive-include smc/freeimage/tests/testdata *.tiff *.jpg *.icm
#recursive-include windows *.dll *.lib *.h
#include contrib/*.py

